body {
    cursor: url('sauropod.png'), auto;
    background-color: black;
    font-family: sans-serif;
    color: white;
    margin: 0;
    z-index: 0;
}

.fondo {
    width: 100%;
    background: url(https://a-z-animals.com/media/2022/02/couple-of-brachiosaurus-altithorax-and-a-flock-of-pterosaurs-in-a-picture-id870596224.jpg) top / cover fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    position: absolute;
}   

.opaco {
    background: rgba(0, 0, 0, 0.4);
    background-size: fixed;
    width: 100%;
}

.card {
    background: rgb(123, 78, 60);
    text-align: center;
    width: 400px;
    padding: 20px 20px;
    margin: auto;
    margin-top: 10%;
    border-radius: 20px;
    border: 2px solid #9f8672;
    box-shadow: 0 0 30px 0 #000;
    color: #eee;

}

.dino-card {
    width: 140px;
    margin: auto;
    padding-top: 20px;
    filter: drop-shadow(0 0 4px #000);
}

.titulo-card {
    margin: 0;
}

.subtitulo-card {
    font-size: 25px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: lato;
    letter-spacing: 2px;
}

.contenido-card {
    background-color: rgba(67, 38, 38, 0.5);
    padding: 20px 20px;
    text-align: justify;
    font-size: 12px;
    margin-bottom: 0;
    border-radius: 20px 20px 20px 20px;
    
}